body
{
	background-color:#eee;
	/*background-image:url('../img/background-blurred.jpg');*/
}

.dashboard-user-item {

	font-size: 200%;
}

.dashboard-user-label {
	margin-top: 15px;
	padding-left: 10px;

}

.dashboard-user-item:hover {
	background-color: #fff;
}

.dashboard-user-item:active {
	background-color: #ff0;
}


